name: Zaparoo-Custom-Launcher-Builder

on:
  push:
  pull_request:

permissions:
  contents: write

jobs:
  build:
    name: Build Windows Executable
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build Executable
        working-directory: zaparoo-custom-launcher-builder
        run: |
          pyinstaller --clean ^
            --onefile ^
            --windowed ^
            --icon app.ico ^
            --add-data "icon.png;." ^
            --name Zaparoo-Custom-Launcher-Builder ^
            zaparoo-custom-launcher-builder.py

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Zaparoo-Custom-Launcher-Builder-Windows-x86_64
          path: zaparoo-custom-launcher-builder/dist

  release:
    name: Create / Update Pre-release
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: Re-ZIP Artifact
        run: |
          cd dist
          zip -r ../Zaparoo-Custom-Launcher-Builder-Windows-x86_64.zip *

      - name: Update Git Tag
        run: |
          git tag -f Pre-release
          git push -f origin Pre-release

      - name: Create or Update Release
        uses: ncipollo/release-action@v1
        with:
          prerelease: true
          allowUpdates: true
          removeArtifacts: true
          tag: Pre-release
          artifacts: "Zaparoo-Custom-Launcher-Builder-Windows-x86_64.zip"
